html {
  height: 100%;
}
body {
  height: 100%;
}
div#root {
  height: 100%;
}
div.app {
  height: 100%;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.offcanvas-body .nav-item{
  cursor: pointer;
  text-align: left;
}

.content-div{
  padding-top: 100px;
}

.form-select {
  width: 500px;
  margin: auto;
  background-color:#212529;
  color: white;
}
.navbar{
  width: 100%;
  min-width: 323px;
  position: fixed;
  z-index: 999;
}


